<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/awsm.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

    <title>
      {% block title %}{% endblock %} | NISER CodeGolf
    </title>
  </head>

  <body>
    <header>
      <h1>NISER CodeGolf</h1>
      {% if user.is_authenticated %}
      <p>Hello, {{user.username}}! Is your code short enough?</p>
      {% else %}
      <p>Keep the number of strokes as low as possible to win.</p>
      {% endif %}

      <nav>
        <ul>
          <li>
            <a href="{% url 'main:home' %}">Home</a>
          </li>
          <li>
            <a href="#">Leaderboard</a>
          </li>

          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'users:logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'users:login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'users:signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      NISER Coding Club
    </footer>
  </body>
</html>
