{% extends 'base.htm' %}

{% block title %}
{{ contest.title }}
{% endblock %}

{% block content %}

<h2>{{ contest.title }}</h2>
<p class="markdown">{{ contest.text }}</p>

<ul>
  {% if contest.is_active %}
  <li>Contest open till {{ contest.end }}</li>

  {% elif contest.is_past %}
  <li>Contest ended {{ contest.end }}</li>

  {% if contest.winners %}
  <li>
    Contest winner{{ contest.winners|pluralize }}:
    <ul class="comma">

      {% for winner in winners %}
      <li>{{ winner }}</li>
      {% endfor %}
  </li>

  {% endif %}

  {% elif contest.is_future %}
  <li>Contest starts {{ contest.start }}</li>

  {% endif %}
</ul>

{% if not contest.is_upcoming %}
{% if contest_probs %}
<p><em>The following is the list of problems for this contest. Follow the links
  to the problem page to {% if contest.is_active %}submit your response 
  {% elif contest.is_past %}read the problem statement{% endif %}.</em></p>

<ol>
  {% for p in contest_probs %}
  <li>
    <a href="{% url 'contests:problem' p.id %}">{{ p.title }}</a>
  </li>

  {% endfor %}
</ol>

{% else %}
<p>There are no problems for this contest yet.</p>

{% endif %}
{% else %}
<p><em>The problems for this contest are not out yet. Stay tuned!</em></p>
{% endif %}

{% if not user.is_authenticated %}
<p><a href="{% url 'users:login' %}">Login</a> to submit your solutions</p>
{% endif %}

{% endblock %}
