<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NISER CodeGolf</title>
  </head>
  <body>
    <header>
      <h1>CodeGolf Competition</h1>
    </header>
    <main>
    <p>
      {% if user.is_authenticated %}
        Hello, {{user.username}}!
      {% else %}
        <a href="{% url 'login' %}"> Log In </a><br>
        <a href="{% url 'signup' %}"> Sign Up </a>
      {% endif %}
      <div id="problem-list">
        {% for p in p_list %}
          <div class="problem-block">
            <a href="{% url 'problem' p.id %}">{{ p.title }}</a>
          </div>
        {% endfor %}
      </div>
    </p>
    </main>
    <footer>
      <small>Coding Club, NISER</small>
    </footer>
    </body>
</html>
