<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ p.title }} | CodeGolf</title>
  </head>
  <body>
    <header>
      <h1>{{ p.title }}</h1>
    </header>
    <main>
      <div>
        <p class="markdown">{{ p.text }}</p>
      </div>

      <div>
        {% if user.is_authenticated %}
        <p>Submit your code here</p>
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ s_form.as_p }}
          <button type="submit">Submit</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}">Log In</a> to submit a solution.</p>
        {% endif %}
      </div>
    </main>
    <footer>
      <small>Coding Club, NISER</small>
    </footer>
    </body>
</html>

