{% extends 'main/base.htm' %}

{% block title %}
{{ p.title }}
{% endblock %}

{% block content %}
<h2>{{ p.title }}</h2>

<p class="markdown">{{ p.text }}</p>

<p><a href="{% url 'main:leaderboard' p.id %}">Click here</a> for this
problem's leaderboard</p>

<div>
  {% if user.is_authenticated %}
  <form enctype="multipart/form-data" method="post">
    <legend>Submit Your Code Here</legend>
    {% csrf_token %}
    {{ s_form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {% else %}
  <p><a href="{% url 'users:login' %}">Log In</a> to submit a solution.</p>
  {% endif %}
</div>

{% endblock %}
